:root {
  --timeline-ui-width-percent: 20%;
}

.timeline {
  background-color: yellow;
  width: 100%;
  height: 100%;
}

.timeline canvas {
  background-color: brown;
  width: calc(100% - var(--timeline-ui-width-percent));
  margin-left: var(--timeline-ui-width-percent);
}

.timeline-ui {
  background-color: blue;
  height: 100%;
  width: var(--timeline-ui-width-percent);
  position: absolute;
}

.display_column {
  display: flex;
  flex-direction: column;
}
